@import '../../varFunc';

.server-info-menu {
    background-color: $darkGrey;
    border: 1px solid $white05;
    color: rgba(255, 255, 255, 0.75);
    border-radius: 0px 8px 8px 8px;
    pointer-events: none;
}

.server-info-menu-text {
    font-size: 14px;
    border: 1px solid $white05;
    padding: 2px;
    margin: 8px 4px 8px 8px;
    box-shadow: -4px -4px 4px $blue;
}