.server-info-menu {
  background-color: rgb(37, 39, 42);
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.75);
  border-radius: 0px 8px 8px 8px;
  pointer-events: none;
}

.server-info-menu-text {
  font-size: 14px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 2px;
  margin: 8px 4px 8px 8px;
  box-shadow: -4px -4px 4px rgb(53, 119, 239);
}/*# sourceMappingURL=style.css.map */