@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  min-height: 100%;
}

html {
  font-size: 13px;
}

html,
body {
  height: 100%;
  min-height: 100%;
  font-family: 'Lato', sans-serif;
}

#root {
  height: 100%;
  min-height: 100%;
  display: grid;
  grid-template-columns: [v-start] calc(2rem + 3.285714vw) [left-icons] calc(10rem + 9.285714vw) [chat-list] 1fr [v-chat] calc(7rem + 7.78571vw) [user-info];
  grid-template-rows: [h-start] calc(4rem + 2.285714vw) [chat-header] 1fr [h-chat] calc(4rem + 1.4285714vw) [form-end];
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}