.plus-chat {
  position: relative;
  grid-column-start: v-start;
  grid-column-end: left-icons;
  grid-row-start: h-chat;
  grid-row-end: form-end;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgb(0, 0, 0);
}

.icon-cross {
  width: calc(1.53846rem + 1.42857vw);
  height: calc(1.53846rem + 1.42857vw);
  max-width: 40px;
  max-height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.5s;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  border-color: rgba(255, 255, 255, 0.5);
  background-repeat: no-repeat;
  background-size: calc(0.61538rem + 0.48611vw);
  background-position-x: center;
  background-position-y: center;
  box-shadow: -2px 0px 16px rgba(0, 0, 0, 0.16);
  z-index: 6;
  cursor: pointer;
}
.icon-cross:active {
  border: 2px solid rgba(255, 255, 255, 0.25);
  max-width: 32px;
  max-height: 32px;
  box-shadow: 0px 0px 0px 0px black;
}

.plus-cross {
  transform: translate(-50%, -50%) rotate(45deg);
  background-size: calc(1rem + 0.48611vw);
}/*# sourceMappingURL=style.css.map */