@import '../../varFunc';

.plus-chat {
    position: relative;
    @include applyGrid(v-start, left-icons, h-chat, form-end);
    border-top: 1px solid $white05;
    background-color: rgba(0, 0, 0, 1);
}

.icon-cross {
    @include wh(calc(1.53846rem + 1.42857vw));
    @include max(40px, 40px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    border-color: $white05;
    background-repeat: no-repeat;
    background-size: calc(0.61538rem + 0.48611vw);
    background-position-x: center;
    background-position-y: center;
    box-shadow: -2px 0px 16px rgba(0, 0, 0, 0.16);
    z-index: 6;
    cursor: pointer;

    &:active {
        border: 2px solid rgba(255, 255, 255, 0.25);
        @include max(32px, 32px);
        box-shadow: 0px 0px 0px 0px black;
    }
}

.plus-cross {
    transform: translate(-50%, -50%) rotate(45deg);
    background-size: calc(1rem + 0.48611vw);
}