@import '../../varFunc';

.list-chat {
    @include applyGrid(left-icons, chat-list, h-start, form-end);
    background: radial-gradient(circle at -132% -50%, rgba(225, 225, 225, 0.15) 13%,
            rgba(166, 166, 166, 0.2) 44%, rgb(37, 39, 42) 66%);
    background-color: rgb(37, 39, 42);
    color: white;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    z-index: 2;
}

.margin-controller {
    margin: 0px calc(0.5rem + 1.32142vw) 20px;
}

.name-server {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 36px;
}

.name-server h1 {
    display: inline-block;
    font-size: calc(1rem + 0.48611vw);
    line-height: 24px;
    margin: 0px 5px 0px 0px;
}

.arrow {
    max-width: 12px;
    width: calc(0.4615rem + 0.4167vw);
    max-height: 8px;
    height: calc(0.3077rem + 0.2778vw);
    opacity: 0.7;
}

.settings {
    position: absolute;
    top: calc(2rem + 1.111vw);
    right: calc(1rem)
}

.settings img {
    max-width: 16px;
    max-height: 16px;
    opacity: 0.6;
}

.settings img:hover {
    animation: rolling 2s linear infinite;
}

.list-channels {
    margin: 0px 25px;
    list-style: none;
    padding-left: 0px;
}

.list-channels li {
    line-height: 16.8px;
    padding: 4px 0px 9px 13px;
    color: rgba(255, 255, 255, 0.6);
}

.list-channels li:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}

.list-friends {
    list-style: none;
    padding-left: 0px;
    margin-left: calc(0.5rem + 1.215278vw);
    overflow-y: auto;
}

.list-friends li {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 8px;
}

.user-status {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(112, 204, 22, 1);
    margin-right: 6px;
}

.user-name {
    margin-left: 12px;
    font-size: calc(0.76923rem + 0.285714vw);
    line-height: 16.8px;
    color: rgba(255, 255, 255, 0.6);
}

.treads {
    margin-top: 30px;
}

.treads img {
    margin-right: 11px;
    max-width: 18px;
    max-height: 18px;
    vertical-align: middle;
    opacity: 0.5;
}

.treads span {
    line-height: 17px;
    vertical-align: middle;
    opacity: 0.6;
}