@import '../../varFunc';

.fav-chat-servers {
    background-color: $blue;
    border: 1px solid $white05;
    border-radius: 0px 8px 8px 8px;
    margin-bottom: 20px;
}

.fav-chat-servers img {
    display: block;
    @include wh(calc(1.53846rem + 1.42857vw));
    margin: 8px 4px;
    opacity: 0.44;
    border-radius: 50%;
    padding: 4px;
    background-color: $darkGrey;

    &:active {
        opacity: 1;
    }
}