.fav-chat-servers {
  background-color: rgb(53, 119, 239);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0px 8px 8px 8px;
  margin-bottom: 20px;
}

.fav-chat-servers img {
  display: block;
  width: calc(1.53846rem + 1.42857vw);
  height: calc(1.53846rem + 1.42857vw);
  margin: 8px 4px;
  opacity: 0.44;
  border-radius: 50%;
  padding: 4px;
  background-color: rgb(37, 39, 42);
}
.fav-chat-servers img:active {
  opacity: 1;
}/*# sourceMappingURL=style.css.map */