@import '../../varFunc';
.dots {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    max-width: 52px;
    width: calc(2.5rem + 1.39285vw);
    margin: 10px 0px 20px;

    img {
        max-width: 10px !important;
        @include wh(calc(0.385rem + 0.34vw) !important);
        margin: 0 !important;
        opacity: 1 !important;
    }
}