.context-menu {
  z-index: 3;
}

.server-context-menu {
  border-radius: 0px 8px 8px 8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.server-context-menu-container {
  border-top-left-radius: 8px;
  margin: 12px 4px 8px 8px;
  box-shadow: -2px -4px 4px rgb(53, 119, 239);
}

.server-context-menu-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 4px;
  font-weight: 700;
  color: white;
  text-align: center;
}

.server-context-menu-item {
  padding: 4px 0px 4px 6px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.server-context-menu-item.server-delete {
  border-bottom: none;
}/*# sourceMappingURL=style.css.map */