@import '../../varFunc';

.context-menu {
    z-index: 3;
}

.server-context-menu {
    border-radius: 0px 8px 8px 8px;
    border: 1px solid $white05;
}

.server-context-menu-container {
    border-top-left-radius: 8px;
    margin: 12px 4px 8px 8px;
    box-shadow: -2px -4px 4px $blue;
}

.server-context-menu-header {
    border-bottom: 1px solid $white05;
    padding-bottom: 4px;
    font-weight: 700;
    color: white;
    text-align: center;
}

.server-context-menu-item {
    padding: 4px 0px 4px 6px;
    border-bottom: 1px solid $white05;
    cursor: pointer;
}

.server-context-menu-item.server-delete {
    border-bottom: none;
}