@import '../varFunc';

.icons {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    @include applyGrid(v-start, left-icons, h-start, h-chat);
    background: radial-gradient(circle at -132% -16%, rgba(225, 225, 225, 0.15) 13%,
            rgba(166, 166, 166, 0.2) 44%, rgb(0, 0, 0) 66%);
    background-color: rgba(0, 0, 0, 1);
}

.context-menu {
    background-color: $darkGrey;
    color: $white05;
    font-size: 16px;
}