.icons {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  grid-column-start: v-start;
  grid-column-end: left-icons;
  grid-row-start: h-start;
  grid-row-end: h-chat;
  background: radial-gradient(circle at -132% -16%, rgba(225, 225, 225, 0.15) 13%, rgba(166, 166, 166, 0.2) 44%, rgb(0, 0, 0) 66%);
  background-color: rgb(0, 0, 0);
}

.context-menu {
  background-color: rgb(37, 39, 42);
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
}/*# sourceMappingURL=style.css.map */