$darkGrey: rgb(37, 39, 42);
$blue: rgb(53, 119, 239);
$white05: rgba(255, 255, 255, 0.5);

@mixin applyGrid($colStart: v-start, $colEnd: user-info, $rowStart: h-start, $rowEnd: form-end) {
    grid-column-start: $colStart;
    grid-column-end: $colEnd;
    grid-row-start: $rowStart;
    grid-row-end: $rowEnd;
}

@mixin wh($w, $h: $w) {
    width: $w;
    height: $h;
}

@mixin min($w, $h: $w) {
    min-width: $w;
    min-height: $h;
}

@mixin max($w, $h: $w) {
    max-width: $w;
    max-height: $h;
}