@import '../../varFunc';

.form-background {
    z-index: 5;
    display: flex;
    @include wh(100%);
    @include applyGrid();
    justify-content: center;
    align-items: center;
    transition: background-color 1s;
}

.server-form {
    color: white;
    font-size: 18px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    background-color: $darkGrey;
    border-radius: 24px;
    padding: 20px 0px 20px 40px;
    box-shadow: 4px 4px 8px rgba(255, 255, 255, 0.25);
    transition: opacity 1s;
    position: relative;

    button[type='submit'] {
        align-self: flex-end;
        appearance: none;
        border: 4px solid $darkGrey;
        padding-bottom: 4px;
        border-radius: 8px 8px 0px 0px;
        background-color: $blue;
        color: rgba(255, 255, 255, 1);
        font-size: 16px;
        font-weight: 700;
        padding: 8px 4px;
        margin-top: 10px;
    }

    button[type='submit']:active {
        background-color: rgba(53, 119, 239, 0.8);
        box-shadow: inset -4px 4px 8px rgba(0, 0, 0, 0.24);
    }
}

.server-ava {
    @include wh(calc(4rem + 3.333333vw));
    @include min(88px, 88px);
    @include max(100px, 100px);
    border-radius: 50%;
    padding: 0px;
    border-width: 4px;
    background-color: grey;
    position: absolute;
    top: -16%;
    left: -8%;
    border-color: rgba(0, 0, 0, 0.5);
    box-shadow: -4px 0px 8px rgba(53, 119, 239, 0.5);
    overflow: hidden;

    label {
        cursor: pointer;
    }
}

.server-ava-add,
.custom {
    @include wh(calc(4rem + 3.333333vw));
    @include min(88px, 88px);
    @include max(100px, 100px);
    border-radius: 50%;
    background-color: $blue;
    border-color: $white05;
    background-repeat: no-repeat;
    background-size: calc(1.538416rem + 1.388889vw);
    background-position-x: center;
    background-position-y: center;
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.16);
}

.server-ava-add:active {
    background-color: rgba(53, 119, 239, 0.8);
    box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.32);
}

#server-ava {
    display: none;
}

.block-name-submit {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    background: radial-gradient(circle at 50% 50%, rgba(166, 166, 166, 0.2) 50%, $darkGrey 100%);
    background-color: $darkGrey;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 0px 0px 0px 16px;
    margin-left: -20px;
    padding: 0px 2px 0px 8px;
}

.server-name-public {
    border-bottom-left-radius: 8px;
    border-right-width: 8px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    margin: 0px;
    padding: 12px 0px 12px calc(1rem + 2vw);
    background: radial-gradient(circle at 20% 50%, $blue 50%, rgb(45, 101, 206) 100%);
    background-color: $blue;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 8px;
    border-bottom-width: 4px;
    box-shadow: -2px 4px 6px rgba(53, 119, 239, 0.5);
}

.server-name {
    background: radial-gradient(circle at 40% 50%, rgba(166, 166, 166, 0.2) 36%, $darkGrey 100%);
    background-color: $darkGrey;
    border-radius: 4px 0px 0px 4px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-right-width: 0px;
    padding: 4px 20px 4px 12px;

    #server-name {
        margin-left: 20px;
        background: radial-gradient(circle at 0% 50%, rgba(255, 255, 255, 1) 36%, rgba(223, 223, 233, 1) 100%);
        color: $darkGrey;
    }
}

.server-public {
    background: radial-gradient(circle at 0% 50%, rgba(166, 166, 166, 0.2) 36%, $darkGrey 100%);
    background-color: $darkGrey;
    border-radius: 4px 0px 0px 4px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-right-width: 0px;
    margin-top: 8px;
    padding: 4px 20px 4px 12px;

    #server-privacy {
        background: radial-gradient(circle at 0% 50%, rgba(255, 255, 255, 1) 36%, rgba(223, 223, 233, 1) 100%);
        color: $darkGrey;

        &:checked {
            box-shadow: -3px 0px 3px rgb(100, 196, 100);

            +label {
                color: rgb(100, 196, 100);
            }
        }

        &:active {
            box-shadow: -3px 0px 3px $white05;

            +label {
                color: $white05;
            }
        }

        +label:active {
            color: $white05;
        }
    }
}