.form-background {
  z-index: 5;
  display: flex;
  width: 100%;
  height: 100%;
  grid-column-start: v-start;
  grid-column-end: user-info;
  grid-row-start: h-start;
  grid-row-end: form-end;
  justify-content: center;
  align-items: center;
  transition: background-color 1s;
}

.server-form {
  color: white;
  font-size: 18px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  background-color: rgb(37, 39, 42);
  border-radius: 24px;
  padding: 20px 0px 20px 40px;
  box-shadow: 4px 4px 8px rgba(255, 255, 255, 0.25);
  transition: opacity 1s;
  position: relative;
}
.server-form button[type=submit] {
  align-self: flex-end;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 4px solid rgb(37, 39, 42);
  padding-bottom: 4px;
  border-radius: 8px 8px 0px 0px;
  background-color: rgb(53, 119, 239);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  padding: 8px 4px;
  margin-top: 10px;
}
.server-form button[type=submit]:active {
  background-color: rgba(53, 119, 239, 0.8);
  box-shadow: inset -4px 4px 8px rgba(0, 0, 0, 0.24);
}

.server-ava {
  width: calc(4rem + 3.333333vw);
  height: calc(4rem + 3.333333vw);
  min-width: 88px;
  min-height: 88px;
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  padding: 0px;
  border-width: 4px;
  background-color: grey;
  position: absolute;
  top: -16%;
  left: -8%;
  border-color: rgba(0, 0, 0, 0.5);
  box-shadow: -4px 0px 8px rgba(53, 119, 239, 0.5);
  overflow: hidden;
}
.server-ava label {
  cursor: pointer;
}

.server-ava-add,
.custom {
  width: calc(4rem + 3.333333vw);
  height: calc(4rem + 3.333333vw);
  min-width: 88px;
  min-height: 88px;
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  background-color: rgb(53, 119, 239);
  border-color: rgba(255, 255, 255, 0.5);
  background-repeat: no-repeat;
  background-size: calc(1.538416rem + 1.388889vw);
  background-position-x: center;
  background-position-y: center;
  box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.16);
}

.server-ava-add:active {
  background-color: rgba(53, 119, 239, 0.8);
  box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.32);
}

#server-ava {
  display: none;
}

.block-name-submit {
  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  background: radial-gradient(circle at 50% 50%, rgba(166, 166, 166, 0.2) 50%, rgb(37, 39, 42) 100%);
  background-color: rgb(37, 39, 42);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 0px 0px 0px 16px;
  margin-left: -20px;
  padding: 0px 2px 0px 8px;
}

.server-name-public {
  border-bottom-left-radius: 8px;
  border-right-width: 8px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  margin: 0px;
  padding: 12px 0px 12px calc(1rem + 2vw);
  background: radial-gradient(circle at 20% 50%, rgb(53, 119, 239) 50%, rgb(45, 101, 206) 100%);
  background-color: rgb(53, 119, 239);
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 8px;
  border-bottom-width: 4px;
  box-shadow: -2px 4px 6px rgba(53, 119, 239, 0.5);
}

.server-name {
  background: radial-gradient(circle at 40% 50%, rgba(166, 166, 166, 0.2) 36%, rgb(37, 39, 42) 100%);
  background-color: rgb(37, 39, 42);
  border-radius: 4px 0px 0px 4px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-right-width: 0px;
  padding: 4px 20px 4px 12px;
}
.server-name #server-name {
  margin-left: 20px;
  background: radial-gradient(circle at 0% 50%, rgb(255, 255, 255) 36%, rgb(223, 223, 233) 100%);
  color: rgb(37, 39, 42);
}

.server-public {
  background: radial-gradient(circle at 0% 50%, rgba(166, 166, 166, 0.2) 36%, rgb(37, 39, 42) 100%);
  background-color: rgb(37, 39, 42);
  border-radius: 4px 0px 0px 4px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-right-width: 0px;
  margin-top: 8px;
  padding: 4px 20px 4px 12px;
}
.server-public #server-privacy {
  background: radial-gradient(circle at 0% 50%, rgb(255, 255, 255) 36%, rgb(223, 223, 233) 100%);
  color: rgb(37, 39, 42);
}
.server-public #server-privacy:checked {
  box-shadow: -3px 0px 3px rgb(100, 196, 100);
}
.server-public #server-privacy:checked + label {
  color: rgb(100, 196, 100);
}
.server-public #server-privacy:active {
  box-shadow: -3px 0px 3px rgba(255, 255, 255, 0.5);
}
.server-public #server-privacy:active + label {
  color: rgba(255, 255, 255, 0.5);
}
.server-public #server-privacy + label:active {
  color: rgba(255, 255, 255, 0.5);
}/*# sourceMappingURL=style.css.map */