.chat-servers img {
  display: block;
  width: calc(1.53846rem + 1.42857vw + 8px);
  height: calc(1.53846rem + 1.42857vw + 8px);
  margin: 0px auto 16px;
  opacity: 0.32;
  border-radius: 50%;
  box-sizing: border-box;
}
.chat-servers img:hover {
  opacity: 0.48;
  border: 2px solid rgba(255, 255, 255, 0.5);
}
.chat-servers img:active {
  border: 4px solid rgba(53, 119, 239, 0.66);
  opacity: 0.72;
}

.cs-fav {
  border: 4px solid rgb(223, 223, 233);
}

.cs-act {
  opacity: 1 !important;
  padding: 0px 6px 0px 0px;
  margin: 0px 0px 20px 20px !important;
  background-color: rgb(53, 119, 239);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 45% 0px 0px 45% !important;
}
.cs-act:hover {
  opacity: 1;
  border: 2px solid rgb(53, 119, 239) !important;
}/*# sourceMappingURL=style.css.map */