@import '../../varFunc';

.chat-servers img {
    display: block;
    @include wh(calc(1.53846rem + 1.42857vw + 8px));
    margin: 0px auto 16px;
    opacity: 0.32;
    border-radius: 50%;
    box-sizing: border-box;

    &:hover {
        opacity: 0.48;
        border: 2px solid $white05;
    }

    &:active {
        border: 4px solid rgba(53, 119, 239, 0.66);
        opacity: 0.72;
    }
}

.cs-fav {
    border: 4px solid rgb(223, 223, 233);
}

.cs-act {
    opacity: 1 !important;
    padding: 0px 6px 0px 0px;
    margin: 0px 0px 20px 20px !important;
    background-color: $blue;
    border: 2px solid $white05;
    border-radius: 45% 0px 0px 45% !important;

    &:hover {
        opacity: 1;
        border: 2px solid $blue !important;
    }
}